@import './reset.css';

body {
  font-family: "Lato", sans-serif;
  background-color: rgb(255, 255, 255 / var(--tw-bg-opacity));
}

@media (prefers-color-scheme: light) {
  body {
    background-color: rgb(17 24 39 / var(--tw-bg-opacity));
  }
}

.floating-button {
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 9999;
}